<?xml version="1.0" encoding="UTF-8"?>
<!--spring的核心配置-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    <!--监视上下文的spring beans的加载-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--spring beans 加载文件所在目录-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--classpath:指向resources下面，当没有classpath时，指向当前文件夹-->
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <!--spring mvc 配置  处理项目中的所有请求-->
    <servlet>
        <!--可以自定义名称-->
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <!--指定需要拦截的请求-->
    <servlet-mapping>
        <!--与上面servlet里的自定义名称相同-->
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--Encoding 处理编码规则-->
    <filter>
        <!--自定义名称-->
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <!--强制使用utf-8编码-->
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <!--/*可以访所有url,/只可以访问后面跟路径的，不能访问如：/index.jsp等路径-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--  druid 配置对druid处理的类 -->
    <servlet>
        <servlet-name>DruidStatServlet</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
        <!--配置登陆时需要验证的用户名和密码-->
        <init-param>
            <param-name>loginUsername</param-name>
            <param-value>druid</param-value>
        </init-param>
        <init-param>
            <param-name>loginPassword</param-name>
            <param-value>druid</param-value>
        </init-param>
    </servlet>
    <!--拦截请求设置-->
    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
        <!--过滤掉不需要的请求-->
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>*.js,*.css,*.jpg,*.png,*.ico,*.gif,/sys/druid/*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--对登陆做出拦截-->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.mmall.filter.LoginFilter</filter-class>
    </filter>
    <!--拦截路径-->
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/sys/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <!--druid请求处理-->
    <servlet-mapping>
        <servlet-name>DruidStatServlet</servlet-name>
        <url-pattern>/sys/druid/*</url-pattern>
    </servlet-mapping>
    <!--项目启动，没有指定时，项目默认访问的路径-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
